

#wrapright {
  top: 0px;
  left: 55%;
  right: 10px;
  position: fixed;
}

.example {
  font-size: 14px;
}

body {
  background-color: #ffffff;
}


h1 {
  text-align: center;
  font-size: 18pt;
}

a:link {
  color: #1609f9;
}

#workarea {
  width: 52%;
  padding-left: 0;
  top: 0;
  /*margin-right: 51%;*/
  background: #f1f1f1;
  position: fixed;
  height: 100%;
}

#workarea-top {
  bottom: 42%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
 /* border: 1px solid black;*/
}

#workarea-middle {
  top: 58%;
  bottom: 38%;
  left: 0;
  right: 0;
  position: absolute;
  /*border: 1px solid black;*/
}

#workarea-bottom {
  top: 63%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  /*border: 1px solid black;*/
}

#editor {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 10px;
  right: 20px;
  border: 1px solid black;
}

#leftButtons {
  position: absolute;
  top: 5px;
  left: 10px;
  bottom: 5px;
}

#rightButtons {
  position: absolute;
  top: 5px;
  right: 20px;
}

#output {
  position: absolute;
  top: 5px;
  bottom: 20px;
  left: 10px;
  right: 20px;
  border: 1px solid black;
  background: #ffffff;
}





















