#source-1, #source-2, #source-3, #source-4, #source-5, #source-6 {
  display: none;
}

#wrapright {
  top: 0px;
  left: 52%;
  right: 10px;
  overflow: auto; 
  position: absolute;
}

.example {
  font-size: 16px;
  background-color: white;
}

.example.hidden {
  display: none;
}

body {
  background-color: #ffffff;
}


/*h1 {
  text-align: center;
  font-size: 18pt;
}
*/
/*a:link {
  color: #1609f9;
}*/

#workarea {
  width: 52%;
  padding-left: 0;
  top: 0;
  background: #f1f1f1;
  position: fixed;
  height: 100%;
}

#workarea-top {
  bottom: 42%;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#workarea-bottom {
  top: 58%;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  /*border: 1px solid black;
*/}

#bottom-top {
  top: 0;
  height: 25px;
  left: 0;
  right: 0;
  position: absolute;
}

#editor {
  position: absolute;
  top: 20px;
  bottom: 0;
  left: 10px;
  right: 20px;
  border: 1px solid black;
}

#leftButtons {
  position: absolute;
  top: 5px;
  left: 10px;
}

#rightButtons {
  position: absolute;
  top: 5px;
  right: 20px;
}

#bottom-bottom {
  position: absolute;
  top: 25px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#output {
  position: absolute;
  top: 6px;
  bottom: 20px;
  left: 10px;
  right: 20px;
  background: #ffffff;
  overflow: auto;
  border: 1px solid black;
}

#executeButton, #resetButton, #outputs, #previousButton, #nextButton {
  height: 21px;
  cursor: pointer;
}

#swiftOutput {
  display: block;
  /* overflow: scroll;*/
}



















